<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.10827.0" newVersion="4.0.10827.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <!-- INLINE|FILE -->
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/logging.nlog.xml" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <!-- Route log4net messages to Common.Logging -->
    <appender name="CommonLoggingAppender" type="Common.Logging.Log4Net.CommonLoggingAppender, Common.Logging.Log4Net">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%2.5thread] %-5level [%class.%method]# %message%newline" />
      </layout><logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.SQL" />
    </logger>
    </appender>

    <!-- level : ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="CommonLoggingAppender" />
    </root>
  </log4net>
  
</configuration>